[maxmind]
account_id = "CHANGE ME"
license_key = "CHANGE ME"
url = "https://download.maxmind.com/geoip/databases/GeoLite2-Country-CSV/download"

[paths]
archive_dir = "/var/lib/xt_geoip"
output_dir = "/usr/share/xt_geoip"

[logging]
log_file = "/var/log/xtgeoip.log"
verbose = false
